@media all and (min-width:320px){
    @font-face{
    	font-family: "Lobster";
    	src: url(../../fonts/Lobster-Regular.ttf);
    }
    .clear{
        clear:both;
    }
    html{
        min-height:100%;
        position:relative;
        body{
            background: url(../../img/pink.jpg);
            height:100%;
            font-family: Lobster;
            header{
                .bg-pink{
                    background:url(../../img/topline.png);
            		height:42px;
            		background-size:cover;
            		background-position:bottom;
            		margin-bottom:18px;
                }
                .topline{
                    &-links{
                        height: 100%;
            			max-width: 215px;
            			margin: 0 auto;
            			line-height: 32px;
                        &_1,
                        &_2{
                            color:#561e10;
            				text-decoration: none;
            				font-size: 14px;
                            position: relative;
                            &:before{
                                content:"";
                				width: 24px;
                				height: 20px;
                                position: absolute;
                                top:0;
                                left:-30px;
                				background-size: cover;
                				background-position: center;
                				background-repeat: no-repeat;
                            }
                        }
                        &_1{
                            margin-right:45px;
            				&:hover{
            					color:#765858;
            				}
                            &:before{
                                background-image:url(../../img/header/order.png);
                            }
                        }
                        &_2{
                            &:hover{
            					color:#765858;
            				}
                            &:before{
                                background-image:url(../../img/header/shop.png);
                            }
                        }
                    }
                }
                .header{
            		&-block{
            			.nav{
            				&-menu{
            					&_item{
            						display: inline-block;
                                    &:hover{
                                        background-color: #ef7288;
                                        a{
                                            color: #fff;
                                        }
                                    }
                                    a{
                                        color:#94674e;
                                        padding: 10px;
                                        font-size:23px;
                                        text-decoration: none;
                                    }
            					}
            				}
            			}
            		}
            	}
            }
            footer{
                background: url(../../img/footer.jpg);
        		background-size:cover;
        		background-position:bottom;
        		min-height:34px;
        		position:absolute;
        		bottom:0;
        		width:100%;
                .copyright{
        			line-height: 34px;
        			width:100%;
                    font-size:14px;
        		}
                .nav{
        			line-height: 34px;
        			width:100%;
        			&-menu{
        				padding:0;
                        margin-bottom:0;
        				&_item{
        					width: 100%;
        					margin-bottom:1px;
                            display:inline-block;
        					width:auto;
        					margin-bottom:0;
                            padding:10px;
                            &:hover{
                                background-color: #ef7288;
                                a{
                                    color: #fff;
                                }
                            }
        					a{
        						color: #633827;
        						text-decoration:none;
                                font-size:14px;
        					}
        				}
        			}
        		}
            }
        }
    }
}

@media all and (min-width:576px){
    html{
        body{
            footer{
                .copyright{
                    font-size:16px;
                }
                .nav{
                    &-menu{
                        &_item{
                            a{
                                font-size:16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:992px){
    html{
        body{
            footer{
                .copyright{
                    padding:10px;
                }
            }
        }
    }
}

@media all and (min-width:1200px){
    html{
        body{
            header{
                .header{
            		&-block{
            			.nav{
            				&-menu{
            					&_item{
                                    a{
                                        font-size:26px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
