@media all and (min-width: 320px) {
  @font-face {
    font-family: "Lobster";
    src: url(../../fonts/Lobster-Regular.ttf);
  }
  .clear {
    clear: both;
  }
  html {
    min-height: 100%;
    position: relative;
  }
  html body {
    background: url(../../img/pink.jpg);
    height: 100%;
    font-family: Lobster;
  }
  html body header .bg-pink {
    background: url(../../img/topline.png);
    height: 42px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: bottom;
    margin-bottom: 18px;
  }
  html body header .topline-links {
    height: 100%;
    max-width: 215px;
    margin: 0 auto;
    line-height: 32px;
  }
  html body header .topline-links_1,
  html body header .topline-links_2 {
    color: #561e10;
    text-decoration: none;
    font-size: 14px;
    position: relative;
  }
  html body header .topline-links_1:before,
  html body header .topline-links_2:before {
    content: "";
    width: 24px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -30px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  html body header .topline-links_1 {
    margin-right: 45px;
  }
  html body header .topline-links_1:hover {
    color: #765858;
  }
  html body header .topline-links_1:before {
    background-image: url(../../img/header/order.png);
  }
  html body header .topline-links_2:hover {
    color: #765858;
  }
  html body header .topline-links_2:before {
    background-image: url(../../img/header/shop.png);
  }
  html body header .header-block .nav-menu_item {
    display: inline-block;
  }
  html body header .header-block .nav-menu_item:hover {
    background-color: #ef7288;
  }
  html body header .header-block .nav-menu_item:hover a {
    color: #fff;
  }
  html body header .header-block .nav-menu_item a {
    color: #94674e;
    padding: 10px;
    font-size: 23px;
    text-decoration: none;
  }
  html body footer {
    background: url(../../img/footer.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: bottom;
    min-height: 34px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  html body footer .copyright {
    line-height: 34px;
    width: 100%;
    font-size: 14px;
  }
  html body footer .nav {
    line-height: 34px;
    width: 100%;
  }
  html body footer .nav-menu {
    padding: 0;
    margin-bottom: 0;
  }
  html body footer .nav-menu_item {
    width: 100%;
    margin-bottom: 1px;
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    padding: 10px;
  }
  html body footer .nav-menu_item:hover {
    background-color: #ef7288;
  }
  html body footer .nav-menu_item:hover a {
    color: #fff;
  }
  html body footer .nav-menu_item a {
    color: #633827;
    text-decoration: none;
    font-size: 14px;
  }
}
@media all and (min-width: 576px) {
  html body footer .copyright {
    font-size: 16px;
  }
  html body footer .nav-menu_item a {
    font-size: 16px;
  }
}
@media all and (min-width: 992px) {
  html body footer .copyright {
    padding: 10px;
  }
}
@media all and (min-width: 1200px) {
  html body header .header-block .nav-menu_item a {
    font-size: 26px;
  }
}
