mixin meta(name, content)
	meta(name=name content=content)
		
mixin title(text)
	title=text
mixin link(url)
	link(rel="stylesheet" href=url)

block head
		+meta("charset", "utf-8")
		+meta("viewport", "width=device-width, initial-scale=1")
		+meta("description", "")
		+meta("keywords", "")
		+meta("author", "And_Smi")
		+meta("copyright", "Developed by And_Smi")
		+title("Candy Shop «Candilicious»")
		+link("presets/css/reset.css")
		+link("presets/css/libs.css")
		+link("presets/css/styles.css")
