doctype html
html(lang="en")
        head
            include modules/head
        body
            include modules/header
            include modules/main
            include modules/footer
            script(src="js/libs.min.js")
            script(src="js/common.js")
