- var menu = ["Home", "Our Candy", "Our Story", "Candy Shop", "Contacts", "Blog"];
- var links = ["/", "/our-candy", "/our-story", "/candy-shop", "/contacts", "/blog"];
nav.nav.text-center.text-md-right
	ul.nav-menu.w-100
		each val, index in menu
			li.nav-menu_item
				a(href=links[index])= val
