- var menu = ["Home", "Our Candy", "Our Story", "Candy Shop", "Contacts", "Blog"];
- var links = ["/", "/our-candy", "/our-story", "/candy-shop", "/contacts", "/blog"];
.header-block
	.row.align-items-center
		.col.col-12.col-md-4.text-center.text-md-left
			a(href="#")
				.logo
					img(src="img/header/logo.png" alt="Logo of our company")
		.col.col-12.col-md-8.text-center.text-md-left
			nav.nav
				ul.nav-menu.w-100
					each val, index in menu
						li.nav-menu_item
							a(href=links[index])= val
