.row
	.col.col-12
		.owl-carousel.owl-theme
			div.
				your content
			div.
				your content
			div.
				your content
			div.
				your content
			div.
				your content
			div.
				your content
			div.
				your content
